/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 14, 2024, 11:00:54 AM
    Author     : Desktop
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 14, 2024, 10:59:59 AM
    Author     : Desktop
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 13, 2024, 9:36:22 PM
    Author     : Desktop
*/


.table-ad{
    text-align: center;
    margin-bottom: 50px;
    
}
.contain .table-ad div
{
    
    max-height: 500px;
    overflow: hidden;
        
}

.contain .table-ad div button
{
    
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
}

#image {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của phần tử cha */
    width: 90%;
    height: 200px; 
    transition: opacity 0.5s ease-in;

    border-radius: 10px; 
}



#prevB {
    
    transform: translateX(50%);
    
}
#nextB {
    
    transform: translateX(-50%);
    
}
#prevB:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#nextB:hover{
    background-color: rgba(0, 0, 0, 0.5);
} 