/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 14, 2024, 11:44:13 AM
    Author     : Zanis
*/

#status{
    margin-top: 100px;
  
    
}

#done{
    text-decoration: none;
    margin-left: 200px;
    padding: 20px;
    background: #007bff;
     color: white;
}

#not{
    text-decoration: none;
    padding: 20px;
    background: red;
    color: white;
}

#list{
    display: flex;
}

#section{
    background: whitesmoke;
    margin: 20px;
    display: block;
}

#section a{
    text-decoration: none;
    background: greenyellow;
   
}